<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>537953520115-dh2pul59ael0hhjf3ps8tk8931er540o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.537953520115-dh2pul59ael0hhjf3ps8tk8931er540o</string>
	<key>API_KEY</key>
	<string>AIzaSyBAiqCTDQKSK3p5mfy4PPAe8UofCm06Dn0</string>
	<key>GCM_SENDER_ID</key>
	<string>537953520115</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.reactnativefirebase</string>
	<key>PROJECT_ID</key>
	<string>stoop-64867</string>
	<key>STORAGE_BUCKET</key>
	<string>stoop-64867.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:537953520115:ios:443787631b35c726f9aa86</string>
</dict>
</plist>